@media print{
    .to-print {
        size: A4;
        /*margin: 1cm; /* Set page margins */
    }
    @page{
        size: landscape;
    }
    .hide-print {
        display: none;
    }
}
.to-print {
    height: 100%;
    width: 100%;
    padding: 0;
}
